<%= form_with(model: [@blog, @blog.comments.create]) do |f| %>
    <div class="form-group">
        <%= f.text_area :body, class:"form-control", placeholder:"Enter a comment" %>
        <%= f.submit "Post", class:"btn btn-success mt-3" %>
    </div>
<% end %>