@import 'bootstrap/dist/css/bootstrap';

:root {
    line-height: 2;
}

.text-decoration-none {
    color: black;
}

#page-content {
    background-color: #f0f2f5;
}

#signin-card {
    width: 45rem;
}

span {
    line-height: 2;
}

small {
    line-height: 2;
}

i {
    font-size: 20px;
}

#nav-icon {
    font-size: 40px;
    margin: 3px;
}

#nav-icon:focus img{
    color: rgba(32, 203, 112, 1);
}

.nav-link {
    color: black;
}

.nav-link:focus {
    color:rgba(32, 203, 112, 1)
}

.home-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signUpModal1 {
    width: 25rem;
}

#policy {
    font-size: smaller;
    font-weight: lighter;
    color: gray;
}